{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block title %}{{ "pages.profile.password_change" | trans }}{% endblock %}
{% block page_title %}{{ "pages.profile.password_change" | trans }}{% endblock %}

{% block body %}
    <form method="post" action="{{ path('fos_user_change_password') }}">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4 margin-btm-5">
                    {{ form_label(form.current_password,"pages.profile.details.current_password" | trans) }}
                    {{ form_widget(form.current_password,{'attr':{
                    'class': 'form-control'
                    }}) }}
                </div>
                
                <div class="col-md-4 margin-btm-5">
                    {{ form_label(form.plainPassword.first,"pages.profile.form.password" | trans) }}
                    {{ form_widget(form.plainPassword.first,{'attr':{
                    'class': 'form-control'
                    }}) }}
                </div>

                <div class="col-md-4 margin-btm-5">
                    {{ form_label(form.plainPassword.second,"pages.profile.form.repeat_password" | trans) }}
                    {{ form_widget(form.plainPassword.second,{'attr':{
                    'class': 'form-control'
                    }}) }}
                </div>

                <div class="col-md-12 margin-btm-5">
                    <input type="submit" class="btn btn-success pull-right" value="{{ 'pages.profile.change'|trans }}" />
                </div>
            </div>  
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}
