{% extends "AppBundle:themes/default:base.html.twig" %}

 {% block head %}
     <link rel="stylesheet"
           href="{{ asset('bundles/assets/themes/default/universeadmin/vendor/jodit/jodit.min.css') }}"/>

     <link rel="stylesheet"
           href="{{ asset('bundles/assets/themes/default/universeadmin/vendor/datatables/datatables.min.css') }}"/>

     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/fonts/open-sans/style.min.css") }}">
     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/fonts/universe-admin/style.css") }}">
     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/fonts/mdi/css/materialdesignicons.min.css") }}">
     <link rel="stylesheet" href="{{ asset("bundles/assets/themes/default/universeadmin/fonts/iconfont/style.css") }}">

     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/flatpickr/flatpickr.min.css") }}">
     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/simplebar/simplebar.css") }}">
     <link rel="stylesheet" href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/tagify/tagify.css") }}">
     <link rel="stylesheet" href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/tippyjs/tippy.css") }}">
     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/select2/css/select2.min.css") }}">
     <link rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/vendor/bootstrap/css/bootstrap.min.css") }}">

     <link rel="stylesheet" href="{{ asset("bundles/assets/themes/default/plugins/bootstrap-toastr/toastr.min.css") }}">

     <link id="stylesheet" rel="stylesheet"
           href="{{ asset("bundles/assets/themes/default/universeadmin/css/style.min.css") }}">

     <script src="{{ asset('bundles/assets/themes/default/universeadmin/js/ie.assign.fix.min.js') }}"></script>

     <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/jquery/jquery.min.js') }}"></script>

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
     <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->

     <style type="text/css">
         .hidden {
             display: none;
         }

         .hide {
             visibility: hidden;
         }

         .pull-right {
             float: right;
         }

         .pull-left {
             float: left;
         }

         table tr, .center {
             text-align: center;
         }

         table tbody tr > :first-child {
             text-align: left;
         }

         table thead tr {
             background-color: #6fc1f0
         }

         /*
         * Page: Invoice
         * -------------
         */
         .invoice {
             position: relative;
             background: #fff;
             border: 1px solid #f4f4f4;
             padding: 20px;
             margin: 10px 25px;
         }

         .invoice-title {
             margin-top: 0;
         }
     </style>
     {% block stylesheets %}{% endblock %}
 {% endblock %}

{% block body_class %}
    {{ style_layout() }}
{% endblock %}

{% block content %}
    {# <div class="page-preloader js-page-preloader">
        <div class="page-preloader__logo">
            <img src="img/logo-black-lg.png" alt="" class="page-preloader__logo-image">
        </div>
        
        <div class="page-preloader__desc">{{ project_name() }}</div>
        
        <div class="page-preloader__loader">
            <div class="page-preloader__loader-heading">{{ 'loading' | trans }}</div>
            <div class="progress progress-rounded page-preloader__loader-progress">
                <div id="page-loader-progress-bar" class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="page-preloader__copyright">&copy; {{ project_name() }}, 2018</div>
    </div> #}

    <!-- Main Header -->
    {% include "AppBundle:themes/default/base-admin:top-navbar.html.twig" %}

    <div class="page-wrap">
        {% include "AppBundle:themes/default/base-admin:sidebar.html.twig" %}
        <div class="page-content">
            <div class="{% block content_class %}container-fluid container-fh{% endblock %}">
                <div class="page-content__header">
                    <div>
                        <h2 class="page-content__header-heading">{% block page_title %}Page Title{% endblock %}</h2>
                    </div>
                </div>
                {% block body_parent %}
                    <div class="main-container container-fh__content">
                        {% block body %}CONTENT{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="sidebar-mobile-overlay"></div>


    <div class="settings-panel">
        <div class="settings-panel__header">
            <span class="settings-panel__close ua-icon-modal-close"></span>
            <h5 class="settings-panel__heading center">{{ 'ui_setting' | trans }}</h5>
        </div>
        <div class="settings-panel__body">
            <div class="settings-panel__layout-options">
                <h6 class="settings-panel__block-heading">Layout Options</h6>
                <div class="settings-panel__layout-option">
                    <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" id="collapse-sidebar" value="1">
              <span class="switch-slider"></span>
            </span>
                        <span class="switch-inline__text">Collapse Sidebar</span>
                    </label>
                </div>
                <div class="settings-panel__layout-option">
                    <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" id="hide-sidebar">
              <span class="switch-slider"></span>
            </span>
                        <span class="switch-inline__text">Hide Sidebar</span>
                    </label>
                </div>
                <div class="settings-panel__layout-option">
                    <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" id="full-height-sidebar">
              <span class="switch-slider"></span>
            </span>
                        <span class="switch-inline__text">Full Height Sidebar</span>
                    </label>
                </div>
                <div class="settings-panel__layout-option">
                    <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" id="rounded-form-controls">
              <span class="switch-slider"></span>
            </span>
                        <span class="switch-inline__text">Rounded Form Controls</span>
                    </label>
                </div>
            </div>
            <div class="settings-panel__theme-colors">
                <h6 class="settings-panel__block-heading">Theme Colors</h6>

                <ul class="list-unstyled">
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-b">
                            <span class="color-radio__color color-radio__color--deep-cerulean"></span>
                            <span class="color-radio__text">#2</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style">
                            <span class="color-radio__color color-radio__color--river-bad"></span>
                            <span class="color-radio__text">#3</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-d">
                            <span class="color-radio__color color-radio__color--sun-juan"></span>
                            <span class="color-radio__text">#4</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-e">
                            <span class="color-radio__color color-radio__color--bermuda-gray"></span>
                            <span class="color-radio__text">#5</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-f">
                            <span class="color-radio__color color-radio__color--deep-sea"></span>
                            <span class="color-radio__text">#6</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-i">
                            <span class="color-radio__color color-radio__color--wine-berry"></span>
                            <span class="color-radio__text">#7</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-g">
                            <span class="color-radio__color  color-radio__color--big-stone"></span>
                            <span class="color-radio__text">#8</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-j">
                            <span class="color-radio__color color-radio__color--killarney"></span>
                            <span class="color-radio__text">#9</span>
                        </label>
                    </li>
                    <li>
                        <label class="color-radio js-settings-color">
                            <input type="radio" name="settings_color" data-style="style-h">
                            <span class="color-radio__color color-radio__color--kabul"></span>
                            <span class="color-radio__text">#10</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <span class="settings-panel-control">
  <span class="settings-panel-control__icon ua-icon-settings"></span>
</span>
{% endblock %}

{% block bottom %}
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/popper/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/simplebar/simplebar.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/text-avatar/jquery.textavatar.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/tippyjs/tippy.all.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/flatpickr/flatpickr.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/wnumb/wNumb.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/js/main.js') }}"></script>

    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/datatables/datatables.min.js') }}"></script>

    <script src="{{ asset('bundles/assets/themes/default/universeadmin/js/preview/settings-panel.js') }}"></script>
    <script src="{{ asset('bundles/assets/themes/default/universeadmin/js/preview/slide-nav.min.js') }}"></script>

    <script src="{{ asset("bundles/assets/themes/default/plugins/input-mask/jquery.inputmask.js") }}"></script>
    <script src="{{ asset("bundles/assets/themes/default/plugins/input-mask/jquery.inputmask.date.extensions.js") }}"></script>
    <script src="{{ asset("bundles/assets/themes/default/plugins/input-mask/jquery.inputmask.extensions.js") }}"></script>

    <script src="{{ asset("bundles/assets/themes/default/plugins/bootstrap-toastr/toastr.min.js") }}"></script>

    {% include "AppBundle:themes/default/base-admin:notify.html.twig" %}

    <script src="{{ asset("bundles/assets/themes/default/dist/js/confirm.js") }}"></script>
    <script src="{{ asset("bundles/assets/themes/default/dist/js/custom.js") }}"></script>

    <script src="{{ asset('bundles/assets/themes/default/universeadmin/vendor/jodit/jodit.min.js') }}"></script>

    <script type="application/javascript">
        var notfication = '';
        var notficationPlayed = false;
        var notificationsElements = '';
        var locale = "{{ app.request.get("_locale") }}";
        var txtSuccess = "{{ "js.txtSuccess" | trans }}";
        var txtError = "{{ "js.txtError" | trans }}";
        var btnOk = "{{ "js.btnOk" | trans }}";
        var btnCancel = "{{ "js.btnCancel" | trans }}";
        var toastrSuccess = "{{ "toastr.success" | trans }}";
        var toastrError = "{{ "toastr.error" | trans }}";
        var txtNoData = "{{ "js.data_table.txt_no_data" | trans }}";
        var txtShowing = "{{ "js.data_table.txt_howing" | trans }}";
        var txtTo = "{{ "js.data_table.txt_to" | trans }}";
        var txtOf = "{{ "js.data_table.txt_of" | trans }}";
        var txtSearch = "{{ "js.data_table.txt_search" | trans }}";
        var txtNoDetails = "{{ "js.data_table.no_details" | trans }}";
        {% block vars %}{% endblock %}
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            notfication = new Audio('{{ asset("notfication.wav") }}');

            if ($('body').hasClass("sidebar-sm"))
                $('#collapse-sidebar').prop('checked', true);

            if ($('body').hasClass("sidebar-hidden"))
                $('#hide-sidebar').prop('checked', true);

            if ($('body').hasClass("sidebar-full-height"))
                $('#full-height-sidebar').prop('checked', true);

            if ($('body').hasClass("form-controls-rounded"))
                $('#rounded-form-controls').prop('checked', true);

            var style = "{{ style_color() }}";
            var radio = $('.js-settings-color input[data-style="' + style + '"]');
            var parent = radio.closest('.js-settings-color');
            parent.addClass('is-checked');

            $('#stylesheet').attr('href', "{{ asset('bundles/assets/themes/default/universeadmin/css/') }}" + style + ".min.css");

            $('#collapse-sidebar').on({
                click: function () {
                    updateStyle($('body')[0].attributes.class.nodeValue, 1);
                }
            });

            $('#hide-sidebar').on({
                click: function () {
                    updateStyle($('body')[0].attributes.class.nodeValue, 1);
                }
            });

            $('#full-height-sidebar').on({
                click: function () {
                    updateStyle($('body')[0].attributes.class.nodeValue, 1);
                }
            });

            $('#rounded-form-controls').on({
                click: function () {
                    updateStyle($('body')[0].attributes.class.nodeValue, 1);
                }
            });


            $('.color-radio input').on({
                click: function () {
                    updateStyle($(this).data('style'), 0);
                }
            });

            setInterval(function () {
                getNotifications();
            }, 5000);
        });

        function getNotifications() {
            $.ajax({
                url: "{{ path('tickets_notifications') }}",
                type: 'POST',
                data: {}
            }).done(function (response) {
                var datas = response.datas;

                $('.navbar-notify__indicator').hide();

                notificationsElements = $('#notifications div[class="simplebar-content"');
                notificationsElements.empty();

                for (var i = 0; i < datas.length; i++) {
                    var url = "/xtreamcode/en/support/tickets/show/" + datas[i].id;

                    notificationsElements.append('<a href="' + url + '"><div style="cursor:pointer;" class="navbar-dropdown-notifications__item">\
                                              <div class="navbar-dropdown-notifications__item-notify">\
                                                  <div>\
                                                       <span class="icon ua-icon-comments"></span>\
                                                      <strong>' + datas[i].from + '</strong> replied to ' + datas[i].message + '\
                                                  </div>\
                                                  <div class="navbar-dropdown-notifications__item-datetime">' + datas[i].date + '</div>\
                                              </div>\
                                          </div></a>');
                }

                if (datas.length) {
                    $('.navbar-notify__indicator').show();

                    if (!notficationPlayed) {
                        notfication.play();
                        notficationPlayed = true;
                    }
                }
            });
        }

        function updateStyle(style, flag) {
            $.ajax({
                url: "{{ path('settings_update_style') }}",
                type: 'POST',
                data: {
                    style: style,
                    flag: flag
                }
            });
        }
    </script>
    {% block javascripts %}{% endblock %}
{% endblock %}