{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block title %}{{ "pages.activation_code.edit.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.activation_code.edit.title" | trans }}{% endblock %}
{% block vars %}
    var msgDelete = "{{ "pages.activation_code.msg_delete" | trans }}";
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('activationcode_edit', {'id': entity.id}) }}">
        <div class="box-body">

            {% include "AppBundle:themes/default/base-admin:errors.html.twig" %}

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        {{ form_label(edit_form.code, "pages.activation_code.attrs.code" | trans ) }}
                        {{ form_widget(edit_form.code) }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(edit_form.period,"pages.activation_code.attrs.period" | trans ) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.period) }}
                            <span class="input-group-addon">{{ "pages.activation_code.attrs.days" | trans }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(edit_form.customer,"pages.activation_code.attrs.customer" | trans ) }}
                        {{ form_widget(edit_form.customer) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        {{ form_label(edit_form.vods_package,"pages.activation_code.attrs.vodsPackage" | trans ) }}
                        {{ form_widget(edit_form.vods_package) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(edit_form.series_package,"pages.activation_code.attrs.seriesPackage" | trans ) }}
                        {{ form_widget(edit_form.series_package) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        {{ form_label(edit_form.channels_package,"pages.activation_code.attrs.channelsPackage" | trans ) }}
                        {{ form_widget(edit_form.channels_package) }}
                    </div>
                </div>                
            </div>            
        </div>

        <div class="box-footer">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <a class="btn btn-default pull-left" href="{{ path('activationcode') }}">{{ "pages.activation_code.new.back_to_list" | trans }}</a>
                    <button type="submit" class="btn btn-primary pull-right">{{ 'pages.activation_code.new.update'|trans }}</button>
                </div>
            </div>
        </div>
        {{ form_rest(edit_form) }}
    </form>
{% endblock %}