{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block page_title %}{{ "pages.streams_server.edit.title" | trans }}{% endblock %}
{% block page_description %}{% endblock %}

{% block body %}
    <div class="box-body">
        <div class="row">
            {% include "AppBundle:themes/default/base-admin:errors.html.twig" %}
            {{ form_start(edit_form) }}  
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <ul class="nav nav-tabs">                   
                    <li class="active">
                        <a data-toggle="tab" href="#home">{{ "base_admin.sidebar.menu.admin.general_settings" | trans }}</a>
                    </li>
                    
                    <li>
                        <a data-toggle="tab" href="#menu1">{{ "pages.settings.attrs.stream_server" | trans }}</a>
                    </li>
                    
                    <li>
                        <a data-toggle="tab" href="#menu2">{{ "pages.settings.attrs.hls_dash" | trans }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.name,"pages.streams_server.attrs.name" | trans ) }}
                                    {{ form_widget(edit_form.name) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.port,"pages.streams_server.attrs.sshport" | trans) }}
                                    {{ form_widget(edit_form.port) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.serverAddress,"pages.streams_server.attrs.serveraddress" | trans ) }}
                                    {{ form_widget(edit_form.serverAddress) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.pass,"pages.streams_server.attrs.password" | trans) }}
                                    {{ form_widget(edit_form.pass) }}
                                </div>
                            </div> 

                            {% if statues['nodejs'] != false %}
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{ "pages.streams_server.tips.daemon_status" | trans }}</label>
                                        <div class="clearfix"></div>
                                        <input id="nodejs" name="nodejs"
                                                data-action="{{ path("swith_status",{ip: serveraddress, 'type':"nodejs","action":statues['nodejs'] == "on"?"stop":"start" }) }}" {{ statues['nodejs'] == "on"?"checked":"" }}
                                                value="{{ statues['nodejs'] == "on"?"stop":"start" }}" type="checkbox"
                                                class="daemon_swith make-switch switch-mini" data-on="success"
                                                data-off="danger">
                                    </div>
                                </div>
                            {% endif %} 
                            
                            {% if statues['nginx'] != false %}
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{ "pages.streams_server.tips.broadcast_status" | trans }}</label>
                                        <div class="clearfix"></div>
                                        <input id="nginx" name="nginx"
                                                data-action="{{ path("swith_status",{ip: serveraddress, 'type':"nginx","action":statues['nginx'] == "on"?"stop":"start"}) }}" {{ statues['nginx'] == "on"?"checked":"" }}
                                                value="{{ statues['nginx'] == "on"?"stop":"start" }}" type="checkbox"
                                                class="daemon_swith make-switch switch-mini" data-on="success"
                                                data-off="danger">
                                    </div>
                                </div>
                            {% endif %}                           
                        </div>     
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.broadcastRTMPPort,"pages.streams_server.attrs.broadcast_rtmp_port" | trans) }}
                                    {{ form_widget(edit_form.broadcastRTMPPort) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.broadcastHTTPPort,"pages.streams_server.attrs.broadcast_http_port" | trans) }}
                                    {{ form_widget(edit_form.broadcastHTTPPort) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.rtspPort,"pages.streams_server.attrs.rtsp_port" | trans) }}
                                    {{ form_widget(edit_form.rtspPort) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.broadcastDASHPort,"pages.streams_server.attrs.broadcast_dash_port" | trans) }}
                                    {{ form_widget(edit_form.broadcastDASHPort) }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.nodeJsPort,"pages.streams_server.attrs.nodejsport" | trans) }}
                                    {{ form_widget(edit_form.nodeJsPort) }}
                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.trialPeriodoTime,"pages.streams_server.attrs.trial_periodo_time" | trans) }}
                                    {{ form_widget(edit_form.trialPeriodoTime) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="menu2" class="tab-pane fade">
                        <div class="row">                   
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.dashPlaylistLength,"pages.streams_server.attrs.dash_playlist_length" | trans) }}
                                    {{ form_widget(edit_form.dashPlaylistLength) }}
                                </div>
                            </div>                   
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.dashFragment,"pages.streams_server.attrs.dash_fragment" | trans) }}
                                    {{ form_widget(edit_form.dashFragment) }}
                                </div>
                            </div>                  
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.hlsSync,"pages.streams_server.attrs.hls_sync" | trans) }}
                                    {{ form_widget(edit_form.hlsSync) }}
                                </div>
                            </div>                
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.hlsFragment,"pages.streams_server.attrs.hls_fragment" | trans) }}
                                    {{ form_widget(edit_form.hlsFragment) }}
                                </div>
                            </div>               
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_label(edit_form.hlsPlaylistLength,"pages.streams_server.attrs.hls_playlist_length" | trans) }}
                                    {{ form_widget(edit_form.hlsPlaylistLength) }}
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <legend>
                                <small>{{ 'pages.settings.attrs.hls_multi_bitrates'|trans }}</small>
                            </legend>

                            <div class="row">                   
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.audioBitrate1,"pages.streams_server.attrs.audio_brt1" | trans) }}
                                        {{ form_widget(edit_form.audioBitrate1) }}
                                    </div>
                                </div>                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.audioBitrate2,"pages.streams_server.attrs.audio_brt2" | trans) }}
                                        {{ form_widget(edit_form.audioBitrate2) }}
                                    </div>
                                </div>                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.audioBitrate3,"pages.streams_server.attrs.audio_brt3" | trans) }}
                                        {{ form_widget(edit_form.audioBitrate3) }}
                                    </div>
                                </div>  
                            </div>

                            <div class="row"> 
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.videoBitrate1,"pages.streams_server.attrs.video_brt1" | trans) }}
                                        {{ form_widget(edit_form.videoBitrate1) }}
                                    </div>
                                </div>                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.videoBitrate2,"pages.streams_server.attrs.video_brt2" | trans) }}
                                        {{ form_widget(edit_form.videoBitrate2) }}
                                    </div>
                                </div>                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.videoBitrate3,"pages.streams_server.attrs.video_brt3" | trans) }}
                                        {{ form_widget(edit_form.videoBitrate3) }}
                                    </div>
                                </div>
                            </div>
                        </fieldset> 
                        
                        <fieldset>
                            <legend>
                                <small>{{ 'pages.settings.attrs.timeshift'|trans }}</small>
                            </legend>

                            <div class="row">                 
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.hlsFragmentTimeshift,"pages.streams_server.attrs.hls_fragment_timeshift" | trans) }}
                                        {{ form_widget(edit_form.hlsFragmentTimeshift) }}
                                    </div>
                                </div>                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(edit_form.hlsPlaylistLengthTimeshift,"pages.streams_server.attrs.hls_playlist_length_timeshift" | trans) }}
                                        {{ form_widget(edit_form.hlsPlaylistLengthTimeshift) }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-default btn-sm pull-left" href="{{ path('streams_server') }}">{{ "pages.streams_server.new.back_to_list" | trans }}</a>
                    </div>

                    <div class="col-md-6">
                        {{ form_widget(edit_form.submit,{'attr':{
                        'class': 'btn btn-success btn-sm pull-right',
                        }}) }}
                    </div>
                </div>           
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            var swith = false;
            $(".daemon_swith").on({
                change: function (e) {
                    if (!swith) {
                        swith = true;
                        $.ajax({
                            type: "POST",
                            url: $(this).data("action"),
                            data: {},
                            dataType: "html",
                            success: function (respuesta) {
                                console.log(respuesta)
                                setTimeout(function () {
                                    location.reload(true);
                                }, 1000);
                            },
                            error: function (respuesta) {

                            }
                        });
                    }

                    return false;
                }
            });
        })
    </script>
{% endblock %}