{% extends "AppBundle:themes/default/base-admin:base.html.twig" %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/assets/themes/default/plugins/jqvmap/jqvmap/jqvmap.css') }}"/>
 {% endblock %}

 {% block javascripts %}
     <script src="{{ asset('bundles/assets/themes/default/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/jqvmap/jqvmap/jquery.vmap.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/chartjs/Chart.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/flot/jquery.flot.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/flot/jquery.flot.resize.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/flot/jquery.flot.pie.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/flot/jquery.flot.categories.min.js') }}"></script>

     <script>
         var playbackword = "{{ path("resellers_dashboard_playback_word") }}";
         var sales_label = [
             {% for month in [11,10,9,8,7,6,5,4,3,2,1,0] %}
             "{{ ("now - "~month~" months") | date("F") }}",
             {% endfor %}
         ]
         {#var sales_data = {{ salesData | json_encode | raw }}#}
     </script>

     <script src="{{ asset('bundles/assets/themes/default/dist/js/pages/dashboard2.js') }}"></script>
 {% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block body %}
    <!-- Info boxes -->
    <div class="row">
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-list"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ "pages.dashboard.playlists" | trans }}</span>
                    <span class="info-box-number">{{ totalPlaylist | length }}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ "pages.dashboard.customers" | trans }}</span>
                    <span class="info-box-number">{{ totalCustomers | length }}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-play"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ "pages.dashboard.total_playback" | trans }}</span>
                    <span class="info-box-number">{{ totalPlayback[0][1] | default(0) }}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-youtube-play"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ "pages.dashboard.current_playback" | trans }}</span>
                    <span class="info-box-number">{{ totalPlaying[0][1] | default(0) }}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    {% include "@App/whoisonline.html.twig" %}

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- MAP & BOX PANE -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "pages.dashboard.playback_report" | trans }}</h3>
                    <div class="box-tools pull-right"></div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pad">
                                <!-- Map will be created here -->
                                <div id="world-map" style="height: 525px;">
                                    <img class="col-md-2 col-md-offset-5" id="loading" style="width: 56px;height: 34px" src="{{ asset('bundles/assets/themes/default/dist/img/ajax-loading.gif') }}" alt=""/>
                                </div>
                            </div>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}