{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}
{% block title %}{{ "pages.series_package.show.title" | transchoice(0,{"%name%":entity.name}) }}{% endblock %}
{% block page_title %}{{ "pages.series_package.show.title" | transchoice(0,{"%name%":entity.name}) }}{% endblock %}

{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Series</th>
                <td>{{ entity.vods | length }}</td>
            </tr>
            <tr>
                <th>Descriptions</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Subscriptionperiod</th>
                <td>{{ entity.subscriptionPeriod }}  {{ ("pages.series_package.show.interval."~entity.subscriptionInterval ) | trans }}</td>
            </tr>
            <tr>
                <th>Fortest</th>
                <td>{{ entity.forTest }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('series-package') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('series-package_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
