<div id="details-{{ id }}" class="item col-md-12" style="padding: 0px;">
    <div class="wrap" style="padding: 15px">
        <div class="list clearfix text-left">
            <fieldset style="margin-top: 3px">
                {% for vod in vods %}
                    {% if vod.cover | preg_match %}
                        <img data-toggle="tooltip" data-placement="top" title="{{ vod.title }}" style="cursor:pointer;"
                             alt="{{ vod.title }}" src="{{ vod.cover }}" width="160" height="90">
                    {% else %}     
                        <img data-toggle="tooltip" data-placement="top" title="{{ vod.title }}" style="cursor:pointer;"
                             alt="{{ vod.title }}" src="http://{{ vod.server }}/iptvtranscoderclient/uploads/{{ vod.cover }}" width="160" height="90">    
                    {% endif %}         
                {% endfor %}
            </fieldset>
        </div>
    </div>
</div>