{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}
{% block title %}{{ "pages.channel_categories.edit.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.channel_categories.edit.title" | trans }}{% endblock %}
{% block vars %}
    var msgDelete = "{{ "pages.channel_categories.msg_delete" | trans }}";
{% endblock %}
{% block body -%}
    {% include "AppBundle:themes/default/base-admin:errors.html.twig" %}
    <div class="col-md-12">
        <a class="btn btn-default btn-sm pull-right" href="{{ path('channel-categories') }}">
            {{ "pages.channel_categories.edit.back_to_list" | trans }}
        </a>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(edit_form.name,"pages.channel_categories.attrs.name" | trans ) }}
                            {{ form_widget(edit_form.name) }}
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(edit_form.categorieLogoFile,"pages.channel_categories.attrs.logo" | trans ) }}
                        {{ form_widget(edit_form.categorieLogoFile) }}
                    </div>
                </div>
            </div>

            <div>
                {{ form_widget(edit_form.submit,{'attr':{
                'class': 'btn btn-success btn-sm pull-left',
                }}) }}
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        {{ form(delete_form) }}
    </div>
{% endblock %}
