{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}
{% block title %}{{ "pages.block_ip_country.edit.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.block_ip_country.edit.title" | trans }}{% endblock %}
{% block vars %}
    var msg_no_empty = "{{ "pages.block_ip_country.msg_no_empty" | trans }}";
    var msgDelete = "{{ "pages.block_ip_country.msg_delete" | trans }}";
{% endblock %}

{% block body -%}
    {% include "AppBundle:themes/default/base-admin:errors.html.twig" %}
    <div class="col-md-12">
        <a class="btn btn-default btn-sm pull-right" href="{{ path('block-ip-country') }}">
            {{ "pages.block_ip_country.edit.back_to_list" | trans }}
        </a>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        {{ form_start(edit_form) }}
        <div class="col-md-6 col-xs-12 no-pad-left margin-btm-5">
            {{ form_label(edit_form.ip,"pages.block_ip_country.attrs.ip" | trans ) }}
            {{ form_widget(edit_form.ip) }}
        </div>
        <div class="col-md-6 col-xs-12 no-pad-right margin-btm-5">
            {{ form_label(edit_form.country,"pages.block_ip_country.attrs.country" | trans) }}
            {{ form_widget(edit_form.country) }}
        </div>
        <div class="col-md-6 col-xs-12 no-pad-left margin-btm-5">
            {{ form_label(edit_form.ipRange,"pages.block_ip_country.attrs.ip_range" | trans) }}
            {{ form_widget(edit_form.ipRange) }}
        </div>
        <div class="col-md-6 col-xs-12 no-pad-right margin-btm-5" style="padding-top: 32px;">
            {{ form_label(edit_form.enabled,"pages.block_ip_country.attrs.enabled" | trans) }}
            {{ form_widget(edit_form.enabled) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding margin-btm-5" style="margin-top: 10px">
            {{ form_widget(edit_form.submit,{'attr':{
            'class': 'btn btn-success btn-sm pull-left',
            }}) }}
        </div>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
        <div class="col-md-12 col-sm-12 col-xs-12">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
