{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}
{% block page_title %}{{ "pages.streams.reports" | trans }}{% endblock %}

 {% block stylesheets %}
 {% endblock %}

 {% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                lengthChange: true,
                select: false,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
            });
        });
    </script>
 {% endblock %}

{% block body_parent %}
    {% if entities | length > 0 %}
        <div class="row">
            <div class="m-datatable col-md-12">
                <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                        <tr style="text-align:center">
                            <th>{{ "pages.streams.name" | trans }}</th>
                            <th>{{ "pages.streams.status" | trans }}</th>
                            <th>{{ "pages.streams.date" | trans }}</th>
                            <th>{{ "pages.streams.issues" | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr style="text-align:center">
                            <td class="col-md-2">{{ entity.streamName }}</td>
                            <td class="col-md-1">
                                {% if entity.status %}
                                    <span class="badge badge-success badge-rounded">{{ "pages.streams.fixed" | trans }}</span>
                                {% else %}
                                    <span class="badge badge-danger badge-rounded">{{ "pages.streams.pending" | trans }}</span>
                                {% endif %}
                            </td>
                            <td class="col-md-2">
                                <div class="table__cell-widget">
                                    <span class="table__cell-widget-name">{{ entity.createdAt | date('m/d/Y') }}</span>
                                    <span class="table__cell-widget-description color-gray">
                                        {{ entity.createdAt | date('H:i:s') }}
                                    </span>
                                </div>
                            </td>
                            <td style="text-align: center">
                                {{ entity.issues | showIssues }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% else %}
        <h4 class="text-muted text-center">{{ "pages.line.index.no_line" | trans }}</h4>
    {% endif %}
    </div>
{% endblock %}