{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlockIpCountry</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ entity.owner }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Iprange</th>
                <td>{{ entity.ipRange }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('block-ip-country') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('block-ip-country_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
