{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block title %}{{ "pages.vods_purchased.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.vods_purchased.title" | trans }}{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/assets/themes/default/plugins/datatables/dataTables.bootstrap.css') }}"/>
 {% endblock %}


 {% block javascripts %}
     <script src="{{ asset('bundles/assets/themes/default/plugins/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/dist/js/data-tables.js') }}"></script>
 {% endblock %}


{% block vars %}
    var msgDelete = "{{ "pages.vods_purchased.remove_msg" | trans }}";
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="datatable table table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ "pages.vods_purchased.table.title" | trans }}</th>
                <th>{{ "pages.vods_purchased.table.genre" | trans }}</th>
                <th>{{ "pages.vods_purchased.table.status" | trans }}</th>
                <th>{{ "pages.vods_purchased.table.source" | trans }}</th>
                <th>{{ "pages.vods_purchased.table.year" | trans }}</th>
                <th>{{ "pages.vods_purchased.table.duration" | trans }}</th>
                {#<th>{{ "pages.vod.index.table.created_at" | trans }}</th>#}
                <th>{{ "pages.vods_purchased.table.actions" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.genre }}</td>
                    <td class="{{ entity.enabled ? "enabled":"disabled" }}">{{ entity.enabled ? "pages.vods_purchased.enabled" | trans :"pages.vods_purchased.disabled" | trans }}</td>
                    <td>{{ entity.source }}</td>
                    <td>{{ entity.year }}</td>
                    <td>{{ entity.duration }}</td>
                    {#<td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <td style="text-align: center">
                        <a class="btn btn-xs btn-danger delete" data-href="{{ path("resellers_products_remove_subscription", { 'id': entity.id ,'type':"vod"}) }}">{{ "pages.vods_purchased.remove" | trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-muted text-center">{{ "pages.vods_purchased.no_vod" | trans }}</h4>
    {% endif %}

{% endblock %}
