{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}
{% block title %}{{ "pages.playlist.new.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.playlist.new.title" | trans }}{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('bundles/assets/themes/default/plugins/daterangepicker/moment.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/daterangepicker/daterangepicker.js') }}"></script>
 {% endblock %}

{% block body -%}
    {% include "AppBundle:themes/default/base-admin:errors.html.twig" %}
    <div class="col-md-12">
        <a class="btn btn-default btn-sm pull-right" href="{{ path('playlists') }}">
            {{ "pages.playlist.new.back_to_list" | trans }}
        </a>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        {{ form_start(form) }}
        <div class="col-md-6 col-xs-12 no-pad-left margin-btm-5">
            {{ form_label(form.name,"pages.playlist.attrs.name" | trans ) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-6 col-xs-12 no-pad-right margin-btm-5">
            {{ form_label(form.expireAt,"pages.playlist.attrs.expire_at" | trans ) }}
            {{ form_widget(form.expireAt) }}
        </div>
        <div class="col-md-6 col-xs-12 no-pad-left margin-btm-5" style="padding-top: 30px">
            {{ form_label(form.enabled,"pages.playlist.attrs.enabled" | trans ) }}
            {{ form_widget(form.enabled) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            {{ form_label(form.channels,"pages.playlist.attrs.channels" | trans ) }}
            {{ form_widget(form.channels) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            {{ form_label(form.channelsPackages,"pages.playlist.attrs.channels_package" | trans ) }}
            {{ form_widget(form.channelsPackages) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            {{ form_label(form.vods,"pages.playlist.attrs.vods" | trans ) }}
            {{ form_widget(form.vods) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            {{ form_label(form.vodPackages,"pages.playlist.attrs.vod_package" | trans ) }}
            {{ form_widget(form.vodPackages) }}
        </div>
        <div class="col-md-12 col-xs-12 no-padding margin-btm-5" style="margin-top: 10px">
            {{ form_widget(form.submit,{'attr':{
            'class': 'btn btn-success btn-sm pull-right',
            }}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
