{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block page_title %}{{ "pages.billing.orders.index.title" | trans }}{% endblock %}

 {% block stylesheets %}
 {% endblock %}

 {% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                lengthChange: true,
                select: false,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
            });
        })
    </script>
 {% endblock %}

{% block body_parent %}
    <div class="row">
        <div class="m-datatable col-md-12">
            {% if orders | length > 0 %}
                <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ "pages.billing.orders.index.table.customer_name" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.customer_email" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.membership" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.payto" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.transaction_id" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.amount" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.status" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.date_verified" | trans }}</th>
                        <th>{{ "pages.billing.orders.index.table.actions" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in orders %}
                        <tr>
                            <td>{{ entity.customerName  | default("-") }}</td>
                            <td>{{ entity.customerEmail  | default("-") }}</td>
                            <td>{{ roles[entity.id]  | default("-") }}</td>
                            <td>{{ resellers[entity.id] | default("-") }}</td>
                            <td>{{ entity.transactionId | default("-") }}</td>
                            <td>{{ entity.amount | default(0) | price_humanize }}</td>
                            <td class="{{ entity.verified ? "enabled":"disabled" }}">{{ entity.verified ? "pages.billing.orders.index.verified" | trans :"pages.billing.orders.index.no_verified" | trans }}</td>
                            <td>{% if entity.verifiedAt %}{{ entity.verifiedAt | date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                            <td>
                                <a class="btn btn-xs btn-info"
                                href="{{ path('billing_order_details', { 'transactionId': entity.transactionId }) }}">{{ "pages.billing.orders.index.details" | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-muted text-center">{{ "pages.billing.orders.index.no_orders" | trans }}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
