{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block title %}{{ "pages.ads.index.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.ads.index.title" | trans }}{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/assets/themes/default/plugins/datatables/dataTables.bootstrap.css') }}"/>
 {% endblock %}

 {% block javascripts %}
     <script src="{{ asset('bundles/assets/themes/default/plugins/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
     <script src="{{ asset('bundles/assets/themes/default/dist/js/data-tables.js') }}"></script>
 {% endblock %}

{% block body -%}
    <div style="margin-bottom: 5px" class="col-md-12 no-padding">
        <a class="btn btn-primary btn-sm pull-right" href="{{ path('ads_new') }}">
            {{ "pages.ads.index.add_ads" | trans }}
        </a>
    </div>
    {% if entities | length > 0 %}
        <table class="datatable table table-bordered table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Genres</th>
                <th>Duration</th>
                <th>Source</th>
                <th>Enabled</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.genres }}</td>
                    <td>{{ entity.duration }}</td>
                    <td>{{ entity.source }}</td>
                    <td>{{ entity.enabled ? "Yes":"No" }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('ads_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('ads_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-muted text-center">{{ "pages.ads.index.no_ads" | trans }}</h4>
    {% endif %}
{% endblock %}
